<div class="content-padded">
  <div class="title">
    <div class="container-fluid">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>Camera</h4></div>
        <div class="panel-body">
          <div class="screen">
            <div class="col-xs-6 md-4">
              <img id="photo" class="img-thumbnail img-responsive" alt="Responsive image">
              <img id="spinner" src="vendor/topcoat/img/spinner2x.png">
              <div class="topcoat-button full center" ontouchend="capturePhoto()">Capture</div>
              <br><br>
              <div class="topcoat-button full center" ontouchend="chooseImage()">Upload Image</div>
              <br><br>
            </div>
          </div>
        </div><!--/panel-body-->
      </div><!--/panel-->
    </div>
  </div>
</div>
</div>
