<div class="content-padded">
  <br>
  <br>
  <div class="bar bar-header">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ontouchend="backButton()">Back</a>
    <h1 class="title">Friends List</h1>
  </div>
  <div class="list">
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Seattle, WA</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/t1.0-9/1622674_10152277423472162_25603115_n.jpg">
      <h2>Nechirvan</h2>
      <p>Los Angeles, CA</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/1551646_10152180278357162_1965475223_n.jpg">
      <h2>Hilal</h2>
      <p>Chicago, Illnois</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/10122_147146782161_5671922_n.jpg">
      <h2>Vietnam TOm</h2>
      <p>Santa Monica, CA</p>
    </a>
  </div>
</div>
